# Dependencies
node_modules

# Build output
dist
cosmos-export
docs/.vitepress/dist
docs/.vitepress/cache

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test coverage
coverage

# Environment
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp
/tmp

*storybook.log
storybook-static
docs/public/storybook
